body {
  font-family: 'Yahoo Sans Financial', 'Helvetica Neue', Helvetica ,Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  --primaryColor: #000;
  --tertiaryColor: #5b636a;
  --positiveColor: #00873c;
  --negativeColor: #eb0f29;
}

body * {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Yahoo Sans Financial';
  font-weight: 400;
  src: local('Yahoo Sans Financial'), url(./fonts/YahooSansFinancial-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Yahoo Sans Financial';
  font-weight: 500;
  src: local('Yahoo Sans Financial'), url(./fonts/YahooSansFinancial-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Yahoo Sans Financial';
  font-weight: 600;
  src: local('Yahoo Sans Financial'), url(./fonts/YahooSansFinancial-Semibold.woff2) format('woff2');
}

@font-face {
  font-family: 'Yahoo Sans Financial';
  font-weight: 700;
  src: local('Yahoo Sans Financial'), url(./fonts/YahooSansFinancial-Bold.woff2) format('woff2');
}
